<h3>Feed</h3>
<h4>(the latest from the barkers you're following)</h4>
<br>
<!-- <h2>You are following:</h2>
<%@list.each do |person_we_follow| %>
<br>
<%= person_we_follow.email %>
<% end %>
<br> -->
<!-- <%@list.each do |person_we_follow| %>
<br>
<%= person_we_follow.posts[0].content %>
<% end %> -->

<% @feed_posts.each do |f| %>
<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <p><%= f.user.email %> barks:</p>
        <br>
        <p>"<%= f.content %>""</p>
      </div>
      <div class="card-action">
        <%= link_to 'Show', f %>
      </div>
    </div>
  </div>
</div>
<!-- <br>
<p>"<%= f.content %>" | <%= f.user.email %></p> -->
<% end %>
