<p id="notice"><%= notice %></p>



<h3>Welcome to Woofer</h3>
<h4><%= @user.email %></h4>
<br>


<h4>All the Barks</h4>

<% @posts.each do |post| %>
<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <p><%= post.user.email %> barks:</p>
        <br>
        <p>"<%= post.content %>""</p>
      </div>
      <div class="card-action">
        <%= link_to 'Show', post %>
      </div>
    </div>
  </div>
</div>
<% end %>
