<p id="notice"><%= notice %></p>

<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <p><%= @post.user.email %> barks:</p>
        <br>
        <p>"<%= @post.content %>""</p>
      </div>
      <div class="card-action">
        <div class="chip">
          <i class="material-icons">thumb_up</i>
          <%= @likes_num %>
        </div>
        <%= link_to @like_status, toggle_like_post_path %>
        <%= link_to @follow_status, toggle_follow_post_path(user_id: @post.user_id) %>
      </div>
    </div>
  </div>
</div>



<br>
<h5>Comments:</h5>
<%= render @post.comments %>
<br>
<%= render 'comments/form' %>

<!-- <%= link_to "Add Comment", new_post_comment_path(post_id: @post.id) %> -->
<br>
<a class="waves-effect waves-teal btn-flat" href="<%= posts_path %>">Back</a>
